{% extends 'mobile/_base_layout/base.html.twig' %}

{% block title %}サインイン{% endblock %}

{% block importmap %}
    {{ importmap(['mobile-base-layout', 'mobile-user-signin']) }}
{% endblock %}

{% block body %}
    <main>
        <div>
            <h1 class="page-title">サインイン</h1>
        </div>

        {% if error %}
            <div class="error-message">
                <p>{{ error.messageKey | trans(error.messageData, 'security') }}</p>
            </div>
        {% endif %}

        <div class="singin-form-content">
            {{ form_start(form) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}

            <div class="cancel-button">
                <a href="{{ path('dashboard_top') }}">キャンセル</a>
            </div>
        </div>

    </main>
{% endblock %}