<header>
    <h1>{{ pageTitle }}</h1>
    <nav>
        <ul>
            {% for link in headerLinks %}
                {% if link.id is not defined %}
                    <li><a href="{{ path(link.path) }}">{{ link.name }}</a></li>
                {% else %}
                    <li><a href="{{ path(link.path, {id: link.id}) }}">{{ link.name }}</a></li>
                {% endif %}
            {% endfor %}
        </ul>
    </nav>
</header>